@page "/customers"
@rendermode InteractiveServer
@using CRUD_db.Interfaces;
@using CRUD_db.Models;
@inject ICustomerService customerService;
@inject NavigationManager navigationManager;


@if (customers == null)
{
    <h3>Loading...</h3>
}
else
{
    <h3>Customers table</h3>

    <NavLink class="nav-link" href="/customers/add_or_update_customer">
        <button class="btn btn-primary">Add Customer</button>
    </NavLink>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>FullName</th>
                <th>Phone</th>
                <th>Email</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.FullName</td>
                    <td>@customer.Phone</td>
                    <td>@customer.Email</td>
                    <td>@customer.City</td>
                    <td>@customer.ZipCode</td>
                    <td>
                        <div class="mb-0">
                            <button class="btn btn-primary" @onclick="@(() => onUpdate(customer))">Update</button>
                            <button class="btn btn-danger" @onclick="@(() => onDelete(customer.CustomerId))">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Customer> customers = null!;

    protected override async Task OnInitializedAsync()
    {
        customers = await customerService.GetCustomers();
    }

    public void onUpdate(Customer customer)
    {
        var url = navigationManager.GetUriWithQueryParameters("/customers/add_or_update_customer", new Dictionary<string, object?>
            {
                ["CustomerId"] = customer.CustomerId,
                ["FullName"] = customer.FullName,
                ["Phone"] = customer.Phone,
                ["Email"] = customer.Email,
                ["City"] = customer.City,
                ["ZipCode"] = customer.ZipCode,
            });

        navigationManager.NavigateTo(url);
    }

    public async Task onDelete(int customerId)
    {
        await customerService.DeleteCustomer(customerId);
        customers = await customerService.GetCustomers();
    }
}